include ~/components/text/text

mixin task({ title, subtitle, description } = {})
  .task(id='task')
    .task__title
      +text({
        text: title,
        type: 'h1',
        color: 'primary',
        weight: 'bold'
      })
    .task__level
      +text({
        text: subtitle,
        type: 'p',
        modifier: 'lead',
        color: 'primary'
      })
    .task__description
      +text({
        text: description,
        type: 'p',
        color: 'primary'
      })