include ~/components/typography/typography

mixin task({ title, subtitle, description } = {})
  .task
    .task__title
      +typography({
        text: title,
        type: 'h1',
        color: 'primary',
        weight: 'bold'
      })
    .task__level
      +typography({
        text: subtitle,
        type: 'p',
        modifier: 'lead',
        color: 'primary'
      })
    .task__description
      +typography({
        text: description,
        type: 'p',
        color: 'primary'
      })