include ~/components/header/header
include ~/components/menu/menu

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content='test task for "Make" company')
    meta(name="keywords", content='test task')
    title 'Test task'
  body
    .page-layout.js-page-layout
      .page-layout__wrapper
        .page-layout__container
          block header
            +header({
              title: 'Наркевич',
              subtitle: 'Денис Владимирович',
              burgerId: 'open'
            })
          block content
    block menu
      +menu({
        title: 'Наркевич Денис Владимирович',
        description: 'Краткое описание. Например, студент 4 курса специальности «Прикладная информатика» в КузГТУ',
        number: '+7 (950) 578-56-65',
        linkHref: 'https://t.me/infinitystep',
        linkText: 'Ссылка на телеграм'
      })