@import '~/scss/variables';

.page-layout {
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  opacity: 1;
  transition: opacity 1s;

  &--hidden {
    opacity: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    padding: $gutter;

    @media screen and (max-width: $mobileWidth) {
      padding: $mobileGutter calc($mobileGutter / 2);
    }
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: 1312px;

    @media screen and (max-width: 1199px) {
      max-width: 928px;
    }

    @media screen and (max-width: 735px) {
      max-width: 424px;
    }
  }
}
