@import '~/scss/variables';

.page-layout {
  opacity: 1;
  transition: opacity 1s;

  &--hidden {
    opacity: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    padding: $gutter;

    @media screen and (max-width: $mobileWidth) {
      padding: $mobileGutter calc($mobileGutter / 2);
    }
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: $desktopMaxWidthContent;

    @media screen and (max-width: $tabletWidth) {
      max-width: $tableMaxWidthContent;
    }

    @media screen and (max-width: $mobileWidth) {
      max-width: $mobileMaxWidthContent;
    }
  }
}
