@import '~/scss/variables';

.selects {
  display: grid;
  grid-template-columns: repeat(calc(($desktopColumns / 4) * 3), 1fr);
  column-gap: $gutter;

  @media screen and (max-width: $tabletWidth) {
    grid-template-columns: repeat(calc(($tabletColumns / 4) * 3), 1fr);
  }

  @media screen and (max-width: $mobileWidth) {
    grid-template-columns: repeat($mobileColumns, 1fr);
    column-gap: $mobileGutter;
  }

  &__title {
    grid-column: 1 / calc((($desktopColumns / 4) * 2) + 1);
    margin-bottom: calc($gutter * 0.75);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc(($tabletColumns / 4) * 3);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc((($mobileColumns / 4) * 3) + 1);
      margin-bottom: calc($mobileGutter * 0.75);
    }
  }

  &__description {
    grid-column: 1 / calc((($desktopColumns / 4) * 2) + 1);
    margin-bottom: calc($gutter * 1.5);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc(($tabletColumns / 4) * 3);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      margin-bottom: calc($mobileGutter * 1.5);
    }
  }

  &__selects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / calc((($desktopColumns / 4) * 3) + 1);
    column-gap: $gutter;
    row-gap: calc($gutter * 3.375);

    @media screen and (max-width: $tabletWidth) {
      grid-template-columns: 1fr 1fr;
      grid-column: 1 / calc((($tabletColumns / 4) * 3) + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-template-columns: 1fr;
      grid-column: 1 / calc($mobileColumns + 1);
      column-gap: $mobileGutter;
      row-gap: calc($mobileGutter * 3.375);
    }
  }
}
