include ~/components/select/select

mixin selects()
  .selects
    +select({
      type: 'text',
      placeholder: 'Выберите что-нибудь',
      prompt: 'Выберите что-нибудь',
      hasJsClass: true,
      items: [
        { text: 'Первый стул' },
        { text: 'Второй стул' },
        { text: 'Выбранный пункт' },
        { text: 'Теорема Эскобара' },
        { text: 'Теорема Эскобара' },
      ]
    })
    +select({
      type: 'text',
      placeholder: 'Выберите что-нибудь',
      hovered: true
    })
    +select({
      type: 'text',
      placeholder: 'Выберите что-нибудь',
      prompt: 'Выберите что-нибудь',
      isOpened: true,
      items: [
        { text: 'Первый стул' },
        { text: 'Второй стул' },
        { text: 'Выбранный пункт' },
        { text: 'Теорема Эскобара' },
      ]
    })