@import '~/scss/variables';

.fields {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  column-gap: $gutter;
  row-gap: calc($gutter * 3.375);

  @media screen and (max-width: $tabletWidth) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $mobileWidth) {
    grid-template-columns: 1fr;
    column-gap: $mobileGutter;
    row-gap: calc($mobileGutter * 3.375);
  }
}
