{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "node": true
  },
  "ignorePatterns": ["**/src/**/*.js"],
  "extends": ["airbnb/base"],
  "globals": {
    "$": "readonly",
    "jQuery": "readonly"
  },
  "plugins": ["pug"],
  "rules": {
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "no-underscore-dangle": "off",
    "no-new": "off",
    "import/no-unresolved": "off",
    "import/extensions": 0,
    "no-unused-vars": "off",
    "linebreak-style": ["error", "windows"]
  }
}
