{
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ]
}
