@import '~/scss/variables';

.menu {
  display: none;
  justify-content: center;
  opacity: 0;
  padding: 8px;
  background: url('~/components/menu/img/menu-background.jpg') no-repeat center;
  background-size: cover;
  transition: opacity 1s;

  &--visible {
    opacity: 1;
  }

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat($desktopColumns, 1fr);
    column-gap: $gutter;
    max-width: $desktopMaxWidthContent;

    @media screen and (max-width: $tabletWidth) {
      grid-template-columns: repeat($tabletColumns, 1fr);
      max-width: $tableMaxWidthContent;
    }

    @media screen and (max-width: $mobileWidth) {
      grid-template-columns: repeat($mobileColumns, 1fr);
      max-width: $mobileMaxWidthContent;
      column-gap: $mobileGutter;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / calc((($desktopColumns / 4) * 3) - 1);
    column-gap: $gutter;
    row-gap: calc($gutter * 1.5);
    padding: calc($gutter * 0.75) 0 calc($gutter * 1.25) calc($gutter * 1.75);
    background: $white;

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc(($tabletColumns / 4) * 3);
      padding: calc($gutter * 0.75) calc($gutter * 0.625) calc($gutter * 1.25)
        calc($gutter * 0.9375);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      column-gap: $mobileGutter;
      row-gap: calc($mobileGutter * 1.5);
      padding: calc($mobileGutter * 0.75) calc($mobileGutter * 0.625)
        calc($mobileGutter * 1.25) calc($mobileGutter * 0.9375);
    }
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(calc((($desktopColumns / 4) * 2) + 1), 1fr);
    column-gap: $gutter;
    align-items: center;

    @media screen and (max-width: $tabletWidth) {
      grid-template-columns: repeat(calc((($tabletColumns / 4) * 2) + 1), 1fr);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-template-columns: 1fr;
      column-gap: $mobileGutter;
      row-gap: $mobileGutter;
    }

    &-text {
      grid-column: 2 / calc(($desktopColumns / 4) + 1);

      @media screen and (max-width: $mobileWidth) {
        grid-column: auto;
      }
    }
  }

  &__logo {
    grid-column: auto;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(calc((($desktopColumns / 4) * 2) + 1), 1fr);
    column-gap: $gutter;
    row-gap: calc($gutter * 9.5);

    @media screen and (max-width: $tabletWidth) {
      grid-template-columns: repeat(calc((($tabletColumns / 4) * 2) + 1), 1fr);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-template-columns: repeat($mobileColumns, 1fr);
      column-gap: $mobileGutter;
      row-gap: calc($mobileGutter * 9.5);
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(calc((($desktopColumns / 4) * 2) + 1), 1fr);
    grid-column: 1 / calc((($desktopColumns / 4) * 3) - 1);
    column-gap: $gutter;

    @media screen and (max-width: $tabletWidth) {
      grid-template-columns: repeat(calc((($tabletColumns / 4) * 2) + 1), 1fr);
      grid-column: 1 / calc(($tabletColumns / 4) * 3);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-template-columns: repeat($mobileColumns, 1fr);
      grid-column: 1 / calc($mobileColumns + 1);
      column-gap: $mobileGutter;
    }
  }

  &__title {
    margin-bottom: calc($gutter * 0.75);
    grid-column: 2 / calc((($desktopColumns / 4) * 2) + 1);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 2 / calc(($tabletColumns / 4) * 3);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      margin-bottom: calc($mobileGutter * 0.75);
    }
  }

  &__description {
    grid-column: 2 / calc(($desktopColumns / 4) * 2);
    margin-bottom: $gutter;

    @media screen and (max-width: $tabletWidth) {
      grid-column: 2 / calc(($tabletColumns / 4) * 3);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      margin-bottom: $mobileGutter;
    }
  }

  &__number {
    grid-column: 2 / calc(($desktopColumns / 4) + 1);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 2 / calc((($tabletColumns / 4) * 2) + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
    }
  }

  &__footer {
    grid-column: 2 / calc((($desktopColumns / 4) * 2) + 1);
    gap: calc($gutter * 0.75);
    align-self: end;
    display: flex;
    align-items: center;

    @media screen and (max-width: $tabletWidth) {
      grid-column: 2 / calc(($tabletColumns / 4) * 3);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      gap: calc($mobileGutter * 0.75);
    }
  }

  &__link {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $white url('~/components/menu/img/button.svg') no-repeat center;
    box-shadow: $menuButtonShadow;

    &:hover,
    &:focus-visible {
      outline: 1px solid $activeColor;
    }

    &-text {
      color: $activeColor;
    }
  }

  &__burger {
    position: absolute;
    top: 28px;
    right: 40px;
    width: 24px;
    height: 24px;
    background: url('~/components/menu/img/cross.svg') no-repeat center;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus-visible {
      background: url('~/components/menu/img/cross-active.svg') no-repeat center;
    }

    @media screen and (max-width: $mobileWidth) {
      background: url('~/components/menu/img/cross-black.svg') no-repeat center;
    }
  }
}
