mixin menu(items = [])
  nav.menu.js-menu
    ul.menu__list
      each item in items
        li.menu__item.js-menu__item
          a&attributes({
            class: [
              'menu__item-link',
              'js-menu__item-link'
            ],
            href: item.link
          })=item.text