include ~/components/logo/logo
include ~/components/text/text
include ~/components/header/header

mixin menu({ title, description, number, linkHref, linkText } = {})
  .menu.js-menu
    .menu__wrapper
      .menu__container
        .menu__header
          .menu__logo
            +logo
          .menu__header-text
            +text({
              text: 'Задание выполнил',
              type: 'p',
              modifier: 'additional',
              color: 'secondary'
            })
        .menu__content
          .menu__body
            .menu__title
              +text({
                text: title,
                type: 'h2',
                color: 'primary',
                weight: 'bold'
              })
            .menu__description
              +text({
                text: description,
                type: 'p',
                color: 'primary'
              }) 
            .menu__number
              +text({
                text: number,
                type: 'p',
                modifier: 'large',
                color: 'primary'
              }) 
          .menu__footer
            a&attributes({
              class: 'menu__link',
              href: linkHref,
              target: '_blank',
              rel: 'noopener noreferrer'
            })
            .menu__link-text=linkText
      .menu__burger.js-menu__burger(tabIndex='0')