@import '~/scss/variables';

.controls {
  display: grid;
  grid-template-columns: repeat(calc(($desktopColumns / 4) * 3), 1fr);
  column-gap: $gutter;

  @media screen and (max-width: $tabletWidth) {
    grid-template-columns: repeat(calc(($tabletColumns / 4) * 3), 1fr);
  }

  @media screen and (max-width: $mobileWidth) {
    grid-template-columns: repeat($mobileColumns, 1fr);
    column-gap: $mobileGutter;
  }

  &__title {
    grid-column: 1 / calc((($desktopColumns / 4) * 2) + 1);
    margin-bottom: $gutter;

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc(($tabletColumns / 4) * 3);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      margin-bottom: $mobileGutter;
    }
  }

  &__controls {
    display: grid;
    grid-column: 1 / calc((($desktopColumns / 4) * 3) + 1);
    grid-template-columns: 1fr 1fr;
    column-gap: $gutter;
    row-gap: calc($gutter * 1.5);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc((($tabletColumns / 4) * 3) + 1);
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      grid-template-columns: 1fr;
      column-gap: $mobileGutter;
      row-gap: calc($mobileGutter * 1.5);
    }
  }

  &__checkboxs {
    display: grid;
    row-gap: calc($gutter * 0.75);
    list-style-type: none;

    @media screen and (max-width: $mobileWidth) {
      row-gap: calc($mobileGutter * 0.75);
    }
  }

  &__radio-buttons {
    display: grid;
    row-gap: calc($gutter * 0.75);
    list-style-type: none;

    @media screen and (max-width: $mobileWidth) {
      row-gap: calc($mobileGutter * 0.75);
    }
  }
}
