include ~/components/text/text
include ~/components/text-field/text-field

mixin fields({ title } = {})
  .fields
    .fields__title 
      +text({
        text: title,
        type: 'h3',
        color: 'primary',
        weight: 'medium'
      })
    .fields__fields
      +text-field({
        type: 'email',
        placeholder: 'E-mail',
        name: 'email1',
        prompt: 'E-mail',
        error: 'Текст ошибки',
        dataType: 'input',
        hasJsClass: true
      })
      +text-field({
        type: 'email',
        state: 'Ховер',
        placeholder: 'E-mail',
        name: 'email2',
        hovered: true
      })
      +text-field({
        type: 'email',
        state: 'Ввод',
        prompt: 'E-mail',
        promptVisible: true,
        placeholder: 'E-mail',
        value: 'office@make.st',
        name: 'email3',
        focused: true
      })
      +text-field({
        type: 'email',
        state: 'Ошибка',
        prompt: 'E-mail',
        promptVisible: true,
        error: 'Текст ошибки',
        placeholder: 'E-mail',
        value: 'officemake.st',
        name: 'email4',
        invalid: true
      })
