@import '~/scss/variables';

.screen {
  display: grid;
  grid-template-columns: repeat(calc(($desktopColumns / 4) * 3), 1fr);
  column-gap: $gutter;

  @media screen and (max-width: $tabletWidth) {
    grid-template-columns: repeat(calc(($tabletColumns / 4) * 3), 1fr);
  }

  @media screen and (max-width: $mobileWidth) {
    grid-template-columns: repeat($mobileColumns, 1fr);
    column-gap: $mobileGutter;
  }

  &__title {
    grid-column: 1 / calc((($desktopColumns / 4) * 2) + 1);
    margin-bottom: $gutter;

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc((($tabletColumns / 4) * 2) + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc((($mobileColumns / 4) * 2) + 1);
      column-gap: $mobileGutter;
    }
  }

  &__params {
    grid-column: 1 / calc(($desktopColumns / 4) * 3);
    margin-bottom: calc($gutter * 1.5);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc((($tabletColumns / 4) * 3) + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      margin-bottom: calc($mobileGutter * 1.5);
    }
  }

  &__picture {
    grid-column: 1 / calc((($desktopColumns / 4) * 3) + 1);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc((($tabletColumns / 4) * 3) + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
    }
  }

  &__img {
    width: 100%;
  }
}
