include ~/components/navigation/navigation

mixin aside()
  aside.aside
    .aside__navigation
      +navigation([
        { text: 'Напутственное слово', link: '#task' },
        { text: 'Сетка', link: '#grid' },
        { text: 'Типографика', link: '#typography' },
        { text: 'UI', link: '#ui' },
      ])