include ~/components/menu/menu

mixin aside()
  aside.aside
    .aside__menu
      +menu([
        { text: 'Напутственное слово', link: '#task' },
        { text: 'Сетка', link: '#grid' },
        { text: 'Типографика', link: '#typography' },
        { text: 'UI', link: '#ui' },
      ])