include ~/components/text/text
include ~/pages/main-page/section/UI/fields/fields
include ~/pages/main-page/section/UI/selects/selects
include ~/pages/main-page/section/UI/buttons/buttons
include ~/pages/main-page/section/UI/controls/controls
include ~/pages/main-page/section/UI/accordions/accordions

mixin UI({ title } = {})
  .ui(id='ui')
    .ui__title
      +text({
        text: title,
        type: 'h2',
        color: 'primary',
        weight: 'bold'
      })
    .ui__fields
      +fields({ title: 'Текстовое поле' })
    .ui__selects 
      +selects({
        title: 'Выпадающий список',
        description: 'Компонент состоит из текстового поля и выпадающей подсказки'
      })
    .ui__buttons 
      +buttons({ title: 'Кнопка' })
    .ui__controls
      +controls({ title: 'Чекбокс, радиобаттон' })
    .ui__accordions
      +accordions({ title: 'Аккордеон' })