@import '~/scss/variables';

.ui {
  display: grid;
  grid-template-columns: repeat(calc(($desktopColumns / 4) * 3), 1fr);
  column-gap: $gutter;

  @media screen and (max-width: $tabletWidth) {
    grid-template-columns: repeat(calc(($tabletColumns / 4) * 3), 1fr);
  }

  @media screen and (max-width: $mobileWidth) {
    grid-template-columns: repeat($mobileColumns, 1fr);
    column-gap: $mobileGutter;
  }

  &__title {
    grid-column: 1 / calc((($desktopColumns / 4) * 2) + 1);
    margin-bottom: calc($gutter * 1.5);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc(($tabletColumns / 4) * 3);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      margin-bottom: calc($mobileGutter * 1.5);
    }
  }

  &__fields {
    grid-column: 1 / calc((($desktopColumns / 4) * 3) + 1);
    margin-bottom: calc($gutter * 2.8125);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc((($tabletColumns / 4) * 3) + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      margin-bottom: calc($mobileGutter * 2.8125);
    }
  }

  &__selects {
    grid-column: 1 / calc((($desktopColumns / 4) * 3) + 1);
    margin-bottom: calc($gutter * 7.25);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc((($tabletColumns / 4) * 3) + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      margin-bottom: calc($mobileGutter * 8.5);
    }
  }

  &__buttons {
    grid-column: 1 / calc((($desktopColumns / 4) * 3) + 1);
    margin-bottom: calc($gutter * 2);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc((($tabletColumns / 4) * 3) + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      margin-bottom: calc($mobileGutter * 2);
    }
  }

  &__controls {
    grid-column: 1 / calc((($desktopColumns / 4) * 3) + 1);
    margin-bottom: calc($gutter * 2);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc((($tabletColumns / 4) * 3) + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      margin-bottom: calc($mobileGutter * 2);
    }
  }

  &__title-accordion {
    grid-column: 1 / calc((($desktopColumns / 4) * 2) + 1);
    margin-bottom: $gutter;

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc(($tabletColumns / 4) * 3);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc((($mobileColumns / 4) * 3) + 1);
      margin-bottom: $mobileGutter;
    }
  }

  &__accordions {
    grid-column: 1 / calc((($desktopColumns / 4) * 3) + 1);
    margin-bottom: calc($gutter * 2);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc((($tabletColumns / 4) * 3) + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
      margin-bottom: calc($mobileGutter * 2);
    }
  }
}
