include ~/components/text/text
include ~/components/typography-bar/typography-bar

mixin typography({ title, description } = {})
  section.typography(id='typography')
    .typography__title
      +text({
        text: title,
        type: 'h2',
        color: 'primary',
        weight: 'bold'
      })
    .typography__description
      +text({
        text: description,
        type: 'p',
        color: 'primary'
      })
    .typography__bar
      +typography-bar([
        { text: 'Десктоп', dataScreen: 'desktop' },
        { text: 'Телефон', dataScreen: 'mobile' }
      ],
      [
        {
          description: 'Заголовок H1, 48/56, bold',
          text: 'Текст заголовка',
          type: 'h1',
          weight: 'bold'
        },
        {
          description: 'Заголовок H2, 32/40, bold',
          text: 'Текст заголовка',
          type: 'h2',
          weight: 'bold'
        },
        {
          description: 'Заголовок H3, 24/32, medium',
          text: 'Текст заголовка',
          type: 'h3',
          weight: 'medium'
        },
        {
          description: 'Заголовок H4, 18/28, medium',
          text: 'Текст заголовка',
          type: 'h4',
          weight: 'medium'
        },
        {
          description: 'Лид P_Lead, 24/32, regular',
          text: 'Текст лида',
          type: 'p',
          modifier: 'lead'
        },
        {
          description: 'Крупный текст P_18, 18/28, regular',
          text: 'Крупный текст',
          type: 'p',
          modifier: 'large',
        },
        {
          description: 'Основной текст P_16, 16/24, regular',
          text: 'Основной текст',
          type: 'p'
        },
        {
          description: 'Вcпомогательный текст P_14, 14/20, regular',
          text: 'Вспомогательный текст',
          type: 'p',
          modifier: 'additional'
        }
      ])