@import '~/scss/variables';

.params {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: $gutter;
  list-style-type: none;

  @media screen and (max-width: $tabletWidth) {
    grid-template-columns: repeat(2, 1fr);
    gap: $gutter;
  }

  @media screen and (max-width: $mobileWidth) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: $mobileGutter;
    gap: $mobileGutter;
  }

  &__item {
    &-title {
      margin-bottom: calc($gutter / 4);
      color: $secondaryColor;
      font-size: 14px;
      line-height: 20px;
    }

    &-value {
      color: $primaryColor;
      font-size: 24px;
      line-height: 32px;
    }
  }
}
