include ~/components/text/text
include ~/components/accordion/accordion

mixin accordions({ title } = {})
  .accordions
    .accordions__title
      +text({
        text: title,
        type: 'h3',
        color: 'primary',
        weight: 'medium'
      })
    .accordions__accordions
      +accordion({
        hasJsClass: true,
        header: 'Аккордеон',
        text: `
          Гоpдость полными вагонами золотыми погонами<br>
          С юга дyют молодые вет…<br>
          Pазpывая в клочья облака не забыли шлют из далека<br>
          С дома мама И не последняя любовь<br>
          А по небy бегyт видишь чьи-то следы<br>
          Это может быть ты это может быть я<br>
          Это может наш дрyг<br>
          Это может нам поют свои<br>
        `
      })
      +accordion({
        header: 'Аккордеон',
        hovered: true
      })
      +accordion({
        header: 'Аккордеон',
        text: `
          Гоpдость полными вагонами золотыми погонами<br>
          С юга дyют молодые вет…<br>
          Pазpывая в клочья облака не забыли шлют из далека<br>
          С дома мама И не последняя любовь<br>
          А по небy бегyт видишь чьи-то следы<br>
          Это может быть ты это может быть я<br>
          Это может наш дрyг<br>
          Это может нам поют свои<br>
        `,
        isOpened: true
      })