include ~/components/text/text
include ~/components/accordion/accordion

mixin accordions({ title } = {})
  .accordions
    .accordions__title
      +text({
        text: title,
        type: 'h3',
        color: 'primary',
        weight: 'medium'
      })
    .accordions__accordions
      +accordion({
        hasJsClass: true,
        header: 'Аккордеон',
        text: `
          Гоpдость полными вагонами золотыми погонами
          С юга дyют молодые вет…\u0085
          Pазpывая в клочья облака не забыли шлют из далека
          С дома мама И не последняя любовь
          А по небy бегyт видишь чьи-то следы
          Это может быть ты это может быть я
          Это может наш дрyг
          Это может нам поют свои
        `
      })
      +accordion({
        header: 'Аккордеон',
        hovered: true
      })
      +accordion({
        header: 'Аккордеон',
        text: `
          Гоpдость полными вагонами золотыми погонами
          С юга дyют молодые вет…\u0085
          Pазpывая в клочья облака не забыли шлют из далека
          С дома мама И не последняя любовь
          А по небy бегyт видишь чьи-то следы
          Это может быть ты это может быть я
          Это может наш дрyг
          Это может нам поют свои
        `,
        isOpened: true
      })