include ~/components/logo/logo
include ~/components/text/text

mixin header({ title, subtitle } = {})
  .header.js-header
    .header__info
      .header__logo
        +logo
      .header__text
        if (title)
          .header__title 
            +text({
              text: title,
              type: 'p',
              modifier: 'additional',
              weight: 'medium',
              color: 'primary'
            })
        if (subtitle)
          .header__subtitle
            +text({
              text: subtitle,
              type: 'p',
              modifier: 'additional',
              color: 'secondary'
            })
    div&attributes({
      class: [
        'header__burger',
        'js-header__burger'
      ],
      tabIndex: '0'
    })
      .header__burger-line
      .header__burger-line