@import '~/scss/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    display: flex;
    gap: $gutter;
    align-items: center;
  }

  &__burger {
    height: 10px;
    outline: none;
    cursor: pointer;

    &-line {
      width: 32px;
      height: 2px;
      text-align: right;
      background-color: $primaryColor;

      &:last-child {
        width: 24px;
        margin: 6px 0 0 auto;
      }
    }

    &:hover,
    &:focus-visible {
      .header {
        &__burger {
          &-line {
            background-color: $activeColor;
          }
        }
      }
    }
  }
}
