@import '~/scss/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    align-items: center;
    gap: $gutter;
  }

  &__burger {
    height: 10px;
    cursor: pointer;
    outline: none;

    &-line {
      width: 32px;
      height: 2px;
      background-color: $primaryColor;
      text-align: right;

      &:last-child {
        width: 24px;
        margin: 6px 0 0 auto;
      }
    }

    &:hover,
    &:focus-visible {
      .header {
        &__burger {
          &-line {
            background-color: $activeColor;
          }
        }
      }
    }
  }

  &--style-menu {
    .header {
      &__burger {
        width: 24px;
        height: 24px;
        background: url('~/components/header/img/cross.svg') no-repeat center;

        &:hover,
        &:focus-visible {
          background: url('~/components/header/img/cross-active.svg') no-repeat center
        }
      }

      &__info {
        gap: calc($gutter * 2);
      }
    }
  }
}
