@import '~/layouts/main-layout/main-layout';
@import '~/scss/variables';

.main-page {
  display: grid;
  grid-template-columns: repeat($desktopColumns, 1fr);
  column-gap: $gutter;
  padding-top: calc($gutter * 1.5);

  @media screen and (max-width: $tabletWidth) {
    grid-template-columns: repeat($tabletColumns, 1fr);
  }

  @media screen and (max-width: $mobileWidth) {
    grid-template-columns: repeat($mobileColumns, 1fr);
    column-gap: $mobileGutter;
    padding-top: calc($mobileGutter * 1.5);
  }

  &__aside {
    grid-column: 1 / calc(($desktopColumns / 4) + 1);
    padding-top: calc($gutter * 5.25);

    @media screen and (max-width: $tabletWidth) {
      grid-column: 1 / calc(($tabletColumns / 4) + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      display: none;
    }
  }

  &__content {
    grid-column: calc(($desktopColumns / 4) + 1) / calc($desktopColumns + 1);

    @media screen and (max-width: $tabletWidth) {
      grid-column: calc(($tabletColumns / 4) + 1) / calc($tabletColumns + 1);
    }

    @media screen and (max-width: $mobileWidth) {
      grid-column: 1 / calc($mobileColumns + 1);
    }
  }

  // &__task {
  //   margin-bottom: calc($gutter * 2.5);

  //   @media screen and (max-width: $mobileWidth) {
  //     // grid-column: 1 / calc(($mobileColumns / 4) + 1);
  //     margin-bottom: calc($mobileGutter * 2.5);
  //   }
  // }
}
