extends ~/layouts/main-layout/main-layout
include ~/components/aside/aside
include ~/components/task/task
include ~/components/grid/grid
include ~/components/main-content/main-content

block content
  .page-content
    .main-page
      .main-page__aside
        +aside
      .main-page__content
        +main-content