// FONT
$mainFont: 'Graphik', Arial, sans-serif;
$mainFontSize: 16px;
$mainLineHeight: 24px;
$mainFontWeight: 400;

// COLORS
$primaryColor: #1b1b1b;
$secondaryColor: #7d7d7d;
$activeColor: #3e29e3;

// GRID
$desktopColumns: 12;
$tabletColumns: 8;
$mobileColumns: 4;

// SCREEN
$tabletWidth: 1199px;
$mobileWidth: 735px;
