// FONT
$mainFont: 'Graphik', Arial, sans-serif;
$mainFontSize: 16px;
$mainLineHeight: 24px;
$mainFontWeight: 400;

// COLORS
$primaryColor: #1b1b1b;
$secondaryColor: #7d7d7d;
$activeColor: #3e29e3;
$inActiveColor: #cbcbcc;
$errorColor: #e80f3b;
$inputBorder: #aeadae;
$white: #ffffff;
$buttonGradient: linear-gradient(45deg, #dd80ed 0%, #3d28e3 100%);
$buttonGradientHover: linear-gradient(225deg, #dd80ed 0%, #3d28e3 100%);
$buttonGradientClicked: linear-gradient(206.57deg, #DD80ED 0%, #3D28E3 83.33%);

// GRID
$desktopColumns: 12;
$tabletColumns: 8;
$mobileColumns: 4;
$gutter: 32px;
$mobileGutter: 24px;

// SCREEN
$tabletWidth: 1199px;
$mobileWidth: 735px;

// SHADOWS
$selectShadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
$menuButtonShadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
