include ~/components/text/text

mixin text-field(options = {})
  -
    const {
      type,
      placeholder,
      name,
      state,
      prompt,
      promptVisible,
      error,
      value,
      dataType,
      withSpellcheck,
      hovered,
      focused,
      invalid,
      hasJsClass,
      autocomplete='off'
    } = options

    const mainClass = 'text-field__input js-text-field__input'
    const hoveredModifier = hovered && 'text-field__input--hovered'
    const focusedModifier = focused && 'text-field__input--focused'
    const invalidModifier = invalid && 'text-field--invalid'
    const promptVisibleModifier = promptVisible && 'text-field__prompt--visible'
    const classForJs = hasJsClass && 'js-text-field'

    const attrs = {
      class: [
        mainClass,
        hoveredModifier,
        focusedModifier,
        invalidModifier
      ],
      type: type,
      name: name,
      value: value,
      placeholder: placeholder,
      autocomplete: autocomplete,
      spellcheck: withSpellCheck,
      'data-type': dataType
    }

  div(class=['text-field', invalidModifier, classForJs])
    if (state)
      .text-field__state
        +text({
          text: state,
          type: 'p',
          modifier: 'additional',
          color: 'secondary'
        })
    if (prompt)
      div&attributes({
        class: [
          'text-field__prompt',
          'js-text-field__prompt',
          promptVisibleModifier
        ]
      })=prompt
    .text-field__wrapper
      input&attributes(attrs)
      .text-field__border
    if (error)
      .text-field__error.js-text-field__error
        +text({
          text: error,
          type: 'p',
          modifier: 'additional',
          color: 'error'
        })