include ~/components/text/text
include ~/components/fields/fields
include ~/components/selects/selects
include ~/components/buttons/buttons
include ~/components/controls/controls
include ~/components/accordions/accordions

mixin UI(options = {})
  -
    const {
      title,
      fieldsTitle,
      selectsTitle,
      selectsDescription,
      buttonsTitle,
      controlsTitle,
      accordionTitle
    } = options
  
  .ui
    .ui__title
      +text({
        text: title,
        type: 'h2',
        color: 'primary',
        weight: 'bold'
      })
    .ui__title-fields
      +text({
        text: fieldsTitle,
        type: 'h3',
        color: 'primary',
        weight: 'medium'
      })
    .ui__fields
      +fields
    .ui__title-selects
      +text({
        text: selectsTitle,
        type: 'h3',
        color: 'primary',
        weight: 'medium'
      })
    .ui__description-selects
      +text({
        text: selectsDescription,
        type: 'p',
        color: 'primary'
      })
    .ui__selects 
      +selects
    .ui__title-buttons 
      +text({
        text: buttonsTitle,
        type: 'h3',
        color: 'primary',
        weight: 'medium'
      })
    .ui__buttons 
      +buttons
    .ui__title-controls
      +text({
        text: controlsTitle,
        type: 'h3',
        color: 'primary',
        weight: 'medium'
      })
    .ui__controls
      +controls
    .ui__title-accordion
      +text({
        text: accordionTitle,
        type: 'h3',
        color: 'primary',
        weight: 'medium'
      })
    .ui__accordions
      +accordions